body{
    margin :0;
    font-family:sans-serif;
    background:#a461eb;
    text-align: center;
    padding:2em;
    color:#080000;

}


.title{
    font-size: 3em;
    margin-bottom:2em;
    color:#222;
    text-shadow: #090000;
    /* font-style: unset; */
    font-weight: 900;
   
}

.units {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1.5em;
    flex-wrap:wrap;


}

.panel{
    border-radius:10px;
    box-shadow:
    0 4px 15px rgba(0, 0, 0, 0.268);
    min-width:15em;
    height:13em;
    position:relative;

}

.panel:nth-child(1){
    background:orange;
}

.panel:nth-child(2){
    background:white;
}


.panel:nth-child(3){
    background:green;
}

.bg-unit{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:10em;
    
    z-index:0;
    pointer-events:none;
    opacity: 50%;

}

.panel:nth-child(1) .bg-unit{
    color:#f87878;
}

.panel:nth-child(2) .bg-unit{
    color:#537eff;
}

.panel:nth-child(3) .bg-unit{
    color:#a7fc85;
}

.panel h2, .panel input{
    position:relative;
}

.panel h2{
    text-align:left;
    padding-left:1em;
    font-size: 20px;
}


.panel input::-webkit-outer-spin-button,
.panel input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin :0;
}

.panel input{
    border: none;
    background: none;
    margin-top: 0.5em;
    width:4em;
    height:2em;
    font-size:3em;
    font-weight:600;
  text-align:center;
  color:#090000;
}

.panel input:focus{
   outline:none;
}
